<section>
  <p>Now that we have everything set up, let's create a new Angular project.</p>
  <ol>
    <li>
      Create a Project:
      <ul>
        <li>In your terminal, navigate to the folder where you want to create your project.
          For example, if you want to create it on your desktop, you can use the command:</li>
        <div class="code-block">
          <div class="code-header">
            <span>bash</span>
            <button class="copy-button">Copy code</button>
          </div>
          <pre><code class="language-bash">cd</code> Desktop</pre>
        </div>
        <li>Run the following command to create a new Angular project:</li>
        <div class="code-block">
          <div class="code-header">
            <span>bash</span>
            <button class="copy-button">Copy code</button>
          </div>
          <pre><code class="language-bash">ng</code> new my-angular-app</pre>
        </div>
        <li>
          Replace "<em>my-angular-app</em>" with your desired project name.
          The CLI will ask you a few questions,
          such as whether to include Angular routing and
          which stylesheet format you'd like to use (<em>CSS, SCSS, etc.</em>).
          Choose your preferences or stick with the defaults.
        </li>
      </ul>
    </li>
    <li>
      Navigate to the Project Folder:
      <ul>
        <li>After the project is created, navigate into the project folder using:</li>
        <div class="code-block">
          <div class="code-header">
            <span>bash</span>
            <button class="copy-button">Copy code</button>
          </div>
          <pre><code class="language-bash">cd</code> my-angular-app</pre>
        </div>
      </ul>
    </li>
    <li>
      Start the Development Server:
      <ul>
        <li>To start the development server, run:</li>
        <div class="code-block">
          <div class="code-header">
            <span>bash</span>
            <button class="copy-button">Copy code</button>
          </div>
          <pre><code class="language-bash">ng</code> serve</pre>
        </div>
        <b>OR</b>
        <div class="code-block">
          <div class="code-header">
            <span>bash</span>
            <button class="copy-button">Copy code</button>
          </div>
          <pre><code class="language-bash">ng</code> serve --open</pre>
        </div>
        <li>
          The server will start, and you can view your project in a web browser at <em>http://localhost:4200</em>.
          This is your live preview, where any changes you make will be updated automatically.
        </li>
      </ul>
    </li>
  </ol>
  <p class="congrats">Congratulations!</p>
  <p>
    You've successfully set up your development environment and created your first Angular project.
    In the next sections, we'll explore how to build components, style your application, and more.
    Stay tuned and happy coding!</p>
</section>
