section{
  @apply mx-11 my-5;
}
ol li{
  list-style: decimal inside;
  @apply mx-5 my-5;
  @apply font-bold;
}
ul li{
  list-style: circle;
  @apply mx-11;
  @apply font-normal;
}
em {
  @apply font-medium;
}
ul b {
  margin: 0 50%;
}
.code-block {
  @apply mx-32 my-5;
  @apply font-normal;
}
.congrats {
  @apply text-center text-3xl my-5 font-bold;
  background: linear-gradient(45deg, rebeccapurple, blue);
  background-clip: text;
  color: transparent;
}
