<section>
  <div class="card">
    <div class="profile">
      <div class="flex flex-row justify-evenly w-72">
        <h2 class="mt-4">
          <b>ID</b> #0025</h2>
        <div class="flex-col-even text-center">
          <h2 class="mt-4">Pikachu</h2>
          <h6>Mouse Pokemon</h6>
        </div>
      </div>
      <img class="w-72 mx-auto" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/25.png">
    </div>

    <ol class="flex-col-even text-center">
      <li>
        <b>Pokemon Type</b>
        <p>Electric</p>
      </li>
      <li>
        <b>Height</b>
        <p>0.4 m</p>
      </li>
      <li>
        <b>Weight</b>
        <p>13.2 lbs</p>
      </li>
    </ol>
    <div class="third-col">
      <div class="flex flex-col justify-between gap-y-5 mt-5">
        <h4 class="">Description</h4>
        <p>
          When it is angered, it immediately discharges the energy stored in the pouches in its cheeks.
        </p>
        <div>
          <h4 class="">Abilities</h4>
          <p><b>Static:</b> Has a 30% chance of paralyzing attacking Pokémon on contact.</p>
        </div>
        <div>
          <h4 class="">Hidden Ability</h4>
          <p><b>Lightning Rod</b>
            Redirects single-target Electric moves to this Pokémon where possible. Absorbs Electric moves, raising Special Attack one stage.</p>
        </div>
      </div>
      <div class="flex-row-even">
        <div>
          <h4>Region</h4>
          <h5>Kanto</h5>
        </div>
      </div>
    </div>
  </div>
</section>
