<section>
  <div class="card">

    <div class="profile">
      <div class="flex flex-row justify-evenly bg-green-700 w-72">
        <h4>#0025</h4>
        <div class="flex-col-even text-center">
          <h4>Pikachu</h4>
          <h6>Mouse Pokemon</h6>
        </div>
      </div>
      <img class=" bg-yellow-600 w-72 mx-auto" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/25.png">
    </div>

    <ol class="flex-col-even text-center bg-amber-200">
      <li>
        <b>Pokemon Type</b>
        <p>Electric</p>
      </li>
      <li>
        <b>Height</b>
        <p>0.4 m</p>
      </li>
      <li>
        <b>Weight</b>
        <p>13.2 lbs</p>
      </li>
    </ol>
    <div class="third-col">
      <div class="flex flex-col justify-between gap-y-5 mt-5">
        <h4 class="font-bold">Description</h4>
        <p>
          When it is angered, it immediately discharges the energy stored in the pouches in its cheeks.
        </p>
        <div>
          <h4>Abilities</h4>
          <h5><b>Static:</b> Has a 30% chance of paralyzing attacking Pokémon on contact.</h5>
        </div>
        <div>
          <h4>Hidden Ability</h4>
          <h5><b>Lightning Rod</b>
            Redirects single-target Electric moves to this Pokémon where possible. Absorbs Electric moves, raising Special Attack one stage.</h5>
        </div>
      </div>
      <div class="flex-row-even">
        <div>
          <h4>Region</h4>
          <h5>Kanto</h5>
        </div>


      </div>

    </div>
  </div>
</section>
