<meta name="keywords" content="Pokemons Angular, PokeApi, Typescript">
<section class="flex-row-even">
  <div>
    <app-table-contents></app-table-contents>
    <app-introduction id="introduction"></app-introduction>
    <ol class="installations">
      <li id="installingNode">Installing Node.js and npm</li>
      <app-set-up-node-js></app-set-up-node-js>
      <li id="angularcli">Installing Angular CLI</li>
      <app-install-angular-cli></app-install-angular-cli>
      <li id="createProject">Creating a New Angular Project</li>
      <app-create-angular-project></app-create-angular-project>
    </ol>
  </div>
  <div class="h-80 border-sky-500">
    fds
  </div>
</section>
