<meta name="keywords" content="Pokemons Angular, PokeApi, Typescript">
<section class="flex-row-even">
  <div>
    <div class="w-full border-4  px-4 py-3 text-left text-gray-800 break-words max-w-md rounded">
      <div class="mx-auto text-xl font-semibold"><strong>Table of content</strong></div>
      <ul class="mt-2 list-disc px-2 pl-6">
        <li>
          <button (click)="goToPart('introduction')">Introduction</button>
        </li>
        <li>
          <p class="block px-2 py-1 rounded">Setting Development Environment</p>
          <ul class="mt-2 list-disc px-2 pl-6">
            <li><button (click)="goToPart('installingNode')">Installing Node.js and npm</button></li>
            <li><button (click)="goToPart('angularcli')">Installing Angular CLI</button></li>
            <li><button (click)="goToPart('createProject')">Create Project</button></li>
          </ul>
        </li>
        <li>
          <p>Setting Up Tailwind</p>
          <ul class="mt-2 list-disc px-2 pl-6">
          <li><button>Installing Tailwind CSS</button></li>
        </ul></li>
      </ul>
    </div>
    <app-introduction id="introduction"></app-introduction>
    <ol class="installations">
      <li id="installingNode">Installing Node.js and npm</li>
      <app-set-up-node-js></app-set-up-node-js>
      <li id="angularcli">Installing Angular CLI</li>
      <app-install-angular-cli></app-install-angular-cli>
      <li id="createProject">Creating a New Angular Project</li>
      <app-create-angular-project></app-create-angular-project>
    </ol>
    <ol class="installations">
      <li id="installTailwind">Installing Tailwind CSS in Your Angular Project</li>
      <app-set-up-tailwind></app-set-up-tailwind>
    </ol>
  </div>
</section>
