<meta name="keywords" content="Pokemons Angular, PokeApi, Typescript">
<section>
  <div>
    <h1>Introduction</h1>
    <p>
      Welcome to my guide on how to create a website using Angular!
      This guide is designed for individuals who have basic understanding
      of HTML, CSS, and JavaScript and are looking to expand their skills by diving into the world
      of Angular.
    </p>
    <dialog>
      did you know Angular is a popular frontend framework
      developed by Google?
    </dialog>
    <p>
      In this guide, I will walk you through the process of setting up your development
      environment, installing Angular and Tailwindcss and building a web application.
    </p>
  </div>
  <div>
    <h2>Prerequisites</h2>
    <ul>
      <li><b>HTML: </b>You should be familiar with the basic structure of a webpage.</li>
      <li><b>CSS: </b>A basic understanding of styling elements.</li>
      <li><b>JavaScript: </b>Basic knowledge of JavaScript, including variables, functions, loops and events.</li>
    </ul>
  </div>
  <div>
    <h1>Setting Up the Development Environment and Installing Angular</h1>
    <p>
      In this section, I'll walk through the steps to set up your development and install Angular.
      We'll break down each step so it's easy to follow, even if you're new to setting up software.
    </p>
    <ul>
      <li></li>
    </ul>
  </div>
</section>
