<section>
  <p>
    Before installing Angular, you will need to set up
    <em>Node.js</em> and <em>npm</em> (Node Package Manager).
    Node.js is a JavaScript runtime that allows you to run
    JavaScript on the serve, while npm is a tool that helps
    you manage packages (libraries) that we need for our projects.
  </p>
  <ol>
    <li>Download Node.js:</li>
    <ul>
      <li>Go to the <a href="https://nodejs.org/en" target="_blank">Node.js website</a></li>
      <li>Download the LTS (Long Term Support) version, which is recommended for most users.</li>
      <li>Follow the installation instructions for your operating system (Windows, macOS, or Linux).</li>
    </ul>
    <li>Verify the Installation:</li>
    <ul>
      <li>After installing, open your terminal, command prompt or powershell.</li>
      <li>Type "node -v" and press Enter. You should see the version number of Node.js you installed.</li>
        <div class="code-block">
          <div class="code-header">
            <span>bash</span>
            <button class="copy-button">Copy code</button>
          </div>
          <pre><code class="language-bash">node</code> -v</pre>
        </div>
      <li>Type "npm -v" and press Enter. This will show the version number of npm.</li>
      <div class="code-block">
        <div class="code-header">
          <span>bash</span>
          <button class="copy-button">Copy code</button>
        </div>
        <pre><code class="language-bash">npm</code> -v</pre>
      </div>
    </ul>
  </ol>
</section>
