<section>
  <a target="_blank" href="https://github.com/AllynnAlvarico/pokemonexplorer">GitHub Repository</a>
  <a target="_blank" href="#">Documentation</a>
  <a target="_blank" href="https://angular.dev/overview">Learn Angular</a>
  <a target="_blank" href="https://tailwindcss.com/docs/installation">Learn Tailwind CSS</a>
  <a target="_blank" href="https://www.typescriptlang.org/">Learn TypeScript</a>
  <a target="_blank" href="https://pokeapi.co/">PokeApi Site</a>
  <a target="_blank" href="#">Other Projects</a>
</section>
