<section>
  <a target="_blank" href="https://github.com/AllynnAlvarico/pokemonexplorer">GitHub Repository</a>
  <a target="_blank" href="#">Documentation</a>
  <a target="_blank" href="https://angular.dev/overview">Angular</a>
  <a target="_blank" href="https://tailwindcss.com/docs/installation">Tailwind CSS</a>
  <a target="_blank" href="https://www.typescriptlang.org/">TypeScript</a>
  <a target="_blank" href="https://pokeapi.co/">PokeApi</a>
  <a target="_blank" href="#">Other Projects</a>
</section>
