button {
  width: 100px;
  height: 50px;
  @apply bg-blue-500 text-white rounded-2xl my-2 mx-5 font-light;
}
div {
  border: 2px solid lightgray;
  @apply m-5;
}
article {
  /*width: 1440px;*/
  border: 2px solid lightgray;
  @apply ml-5 mr-5;
}
.grid-template {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
  grid-gap: 15px;
  padding: 20px;
  @apply mx-auto text-center ;
}

button:focus {
  background-color: #35bdcc;
  @apply font-medium;
  @apply animate-pulse;
}
