button {
  width: 100px;
  height: 50px;
  @apply bg-blue-900 text-white rounded-2xl my-2 mx-5 font-light;
}
div {
  border: 2px solid lightgray;
  width: 300px;
  @apply m-5;
}
article {
  width: 1440px;
  border: 2px solid lightgray;
  @apply flex flex-row justify-evenly flex-wrap gap-x-10 my-5;
}
