button {
  width: 100px;
  height: 50px;
  @apply border-2 rounded-2xl my-2 mx-5 font-light;
}
button:hover {
  /*change the color of the buttons*/
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2),
-10px -10px 10px white;
}
button:focus {
  background-color: #35bdcc;
  @apply font-medium;
  @apply animate-pulse;
}
div {
  background-color: #f9f9f9;
  border: 2px solid lightgray;
  @apply m-5;
}
article {
  /*width: 1440px;*/
  border: 2px solid lightgray;
  @apply ml-5 mr-5;
}
.grid-template {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
  grid-gap: 15px;
  padding: 20px;
  @apply mx-auto text-center ;
}


