<section class="flex-col-even justify-center">
<!--  this is the active class to make it do effects when clicked-->
<!--  [class.active]="button"-->
<!--  button:string = ''; on the component.ts
      you need to make sure u assign an id in order to call it-->
<!--  on the :focus if the button is clicked and the effect will remain until changed-->

  <div class="flex-row-even flex-wrap gap-1">
    <button (click)="getClick('gen1')">Kanto</button>
    <button (click)="getClick('gen2')">Johto</button>
    <button (click)="getClick('gen3')">Hoenn</button>
    <button (click)="getClick('gen4')">Sinnoh</button>
    <button (click)="getClick('gen5')">Unova</button>
    <button (click)="getClick('gen6')">Kalos</button>
    <button (click)="getClick('gen7')">Alola</button>
    <button (click)="getClick('gen8')">Galar</button>
    <button (click)="getClick('gen9')">Paldea</button>
  </div>
  <article>
    <app-card class="grid-template" [pokemons]="sortedPokemons"></app-card>
  </article>
</section>
