<div class="w-full border-4  px-4 py-3 text-left text-gray-800 break-words max-w-md rounded">
  <div class="mx-auto text-xl font-semibold"><strong>Table of content</strong></div>
  <ul class="mt-2 list-disc px-2 pl-6">
    <li>
      <a class="block hover:bg-gray-200 px-2 py-1 rounded" href="#" (click)="scrollToSection('introduction')">Introduction</a>
    </li>
    <li>
      <a class="block hover:bg-gray-200 px-2 py-1 rounded" href="#">Setting Development Environment</a>
      <ul class="mt-2 list-disc px-2 pl-6">
        <a class="block hover:bg-gray-200 px-2 py-1 rounded" href="#" (click)="scrollToSection('installingNode')">Installing Node.js and npm</a>
        <a class="block hover:bg-gray-200 px-2 py-1 rounded" href="#" (click)="scrollToSection('angularcli')">Installing Angular CLI</a>
        <a class="block hover:bg-gray-200 px-2 py-1 rounded" href="#" (click)="scrollToSection('createProject')">Create Project</a>

      </ul>
    </li>
  </ul>
</div>
