<!--<div class="card" *ngFor="let pokemon of pokemons">-->
<!--  <img class="card-image" [src]= "pokemon.sprites.other['official-artwork'].front_default">-->
<!--  <p class="card-title">{{pokemon.name}}</p>-->
<!--  <p class="card-body">-->
<!--    Nullam ac tristique nulla, at convallis quam. Integer consectetur mi nec magna tristique, non lobortis.-->
<!--  </p>-->
<!--  <p class="footer">Written by <span class="by-name">John Doe</span> on <span class="date">25/05/23</span></p>-->
<!--</div>-->
<!--<div>-->
<!--  <ul *ngFor="let pokemon of pokemons">-->
<!--    <li>{{pokemon.name}}</li>-->
<!--  </ul>-->
<!--</div>-->

