<section>
  <div class="home-banner">
    <img src="assets/home-banner.jpg" alt="banner">
    <div class="banner-message">
      <h1>
        Welcome to Pokédex Explorer
      </h1>
      <p class="intro">
        Hello, and welcome to my Pokédex Explorer! I am Allynn and I am a current student at TUD (Technological University Dublin) studying Business Computing,
        and this website is part of a project aimed at enhancing my skills in web development.
        Through this project, I am learning and applying frameworks and tools such as Angular, Tailwind CSS, TypeScript, and the PokeAPI.
      </p>
    </div>
    <h3 class="url"><b>This image is not mine</b><br><a target="_blank" href="https://wallpapers-clan.com/desktop-wallpapers/pokemon-bulbasaur-landscape/"> Click here to see source</a></h3>
  </div>
</section>
<section>
  <h2 class="">My Learning Journey:</h2>
  <div class="flex-row-even -mb-16 -mt-5">
    <img class="w-56" src="assets/AngularNew.svg" alt="Angular Logo" />
    <img class="w-64" src="assets/TailwindCSS.svg" alt="Tailwindcss Logo" />
    <img class="w-20" src="assets/Typescript.svg" alt="TypeScript Logo" />
    <img class="w-44" src="assets/pokeapi.svg" alt="PokeApi Logo" />
  </div>
  <ul>
    <li><b class="angular">Angular</b><b>:</b> I'm leveraging Angular to create a dynamic and responsive user interface that enhances the browsing experience.</li>
    <li><b class="tailwind">Tailwind CSS</b><b>:</b> Tailwind CSS helps me style the website efficiently with its utility-first approach, ensuring a clean and modern design.</li>
    <li><b class="typescript">TypeScript</b><b>:</b> TypeScript adds type safety and improved code quality, making the development process smoother and more robust.</li>
    <li><b class="pokeapi">PokeAPI</b><b>:</b> The PokeAPI is my primary data source, providing detailed information on Pokémon, which I fetch and display dynamically.</li>
  </ul>
</section>

<!--<section>-->

<!--&lt;!&ndash;  <h2>Explore, Learn, and Have Fun!</h2>&ndash;&gt;-->
<!--&lt;!&ndash;  <p>&ndash;&gt;-->
<!--&lt;!&ndash;    Join me on this exciting journey as I continue to learn and grow as a web developer.&ndash;&gt;-->
<!--&lt;!&ndash;    This project is not only a comprehensive resource for Pokémon enthusiasts but also a practical exercise in using modern web development technologies.&ndash;&gt;-->
<!--&lt;!&ndash;    Through Pokédex App, I am gaining hands-on experience in:&ndash;&gt;-->
<!--&lt;!&ndash;  </p>&ndash;&gt;-->
<!--&lt;!&ndash;  <ul>&ndash;&gt;-->
<!--&lt;!&ndash;    <li><b>Developing with Angular: </b>Creating dynamic web applications with a powerful framework.</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li><b>Styling with Tailwind CSS: </b>Utilizing a utility-first approach to design responsive and modern user interfaces.</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li><b>Coding in TypeScript: </b>Enhancing JavaScript with strong typing and improved tooling.</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li><b>Fetching Data from APIs: </b>Integrating and displaying data from external sources like the PokeAPI.</li>&ndash;&gt;-->
<!--&lt;!&ndash;  </ul>&ndash;&gt;-->
<!--</section>-->
<app-sample-card></app-sample-card>
