section {
  overflow-x: hidden;
  font-size: 18pt;
}
h1 {
  /*this is the space or position of the text*/
  @apply py-20;
  /*this is for the text display*/
  @apply font-extrabold tracking-widest text-7xl text-center;
  /*this is the setting if you want gradient color for your text*/
  background: linear-gradient(45deg, blue, red);
  background-clip: text;
  color: transparent;
}
p {
  @apply w-8/12 mx-auto text-center;
}
h2 {
  @apply mx-32 my-5;
  @apply text-5xl font-bold tracking-widest text-center ;
}
ul {
  @apply mx-48 px-10 my-10 py-5 list-disc;
  @apply border-double border-4 border-green-600;
}
.intro {
  margin-top: -50px;
  padding-bottom: 30px;
  @apply tracking-wide font-semibold text-center w-9/12;
}
.banner-message {
  position: relative;
  margin-top: -1000px;
  margin-bottom: 450px;
  box-shadow: 20px 15px 20px rgba(0,0,0,0.3);
  @apply backdrop-blur bg-transparent/5 w-1/2 ml-5 rounded-3xl saturate-150;
  @apply animate-fadeinright;
}
img {
  @apply saturate-150;
}

.url {
  position: relative;
  width: 350px;
  @apply backdrop-blur bg-black/50 text-white;
  @apply -mt-20 mx-10 px-11 mb-10;
  @apply animate-jiggle;
}
