<!--<div class="container">-->
<!--&lt;!&ndash;  &ndash;&gt;-->
<!--  <div class="pokeball" [ngClass]="{'out-of-sight': isHidden}" (click)="toggleAnimation()">-->
<!--    <div class="top"></div>-->
<!--    <div class="bottom"></div>-->
<!--    <div class="center"></div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash;<div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="menu">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    [ngClass]="{'visible': isVisible}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="bar1"></div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="bar2"></div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="bar3"></div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
