<!--<div class="container" >-->
<!--&lt;!&ndash;  [ngClass]="{'hidden': isHidden}" (click)="toggleAnimation()"&ndash;&gt;-->
<!--  <div class="pokeball">-->
<!--    <div class="top"></div>-->
<!--    <div class="bottom"></div>-->
<!--    <div class="center"></div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash;  <div class="menu" [ngClass]="{'visible': isVisible}">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="bar1"></div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="bar2"></div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="bar3"></div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--</div>-->
